In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('adult.csv')
data.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

## 1.Изучаем датасет

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48842 non-null  int64
 1   workclass        48842 non-null  object
 2   fnlwgt           48842 non-null  int64
 3   education        48842 non-null  object
 4   educational-num  48842 non-null  int64
 5   marital-status   48842 non-null  object
 6   occupation       48842 non-null  object
 7   relationship     48842 non-null  object
 8   race             48842 non-null  object
 9   gender           48842 non-null  object
 10  capital-gain     48842 non-null  int64
 11  capital-loss     48842 non-null  int64
 12  hours-per-week   48842 non-null  int64
 13  native-country   48842 non-null  object
 14  income           48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

+ возраст: непрерывный.

+ рабочий класс: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.

fnlwgt: непрерывный.
+ образование: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.

education-num: непрерывное.

+ семейное положение: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.

+ род деятельности: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.

Отношения: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.

+ раса: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.

+ пол: Female, Male.

прирост капитала: непрерывный.

Убыток капитала: непрерывный.

+ часов в неделю: непрерывно.

родная страна: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.

+ класс:> 50K, <= 50K

### указанные точкой метрики выбраны для прогнозирования уровня дохода

In [4]:
#смотрим уникальные значения в выбранных столбцах, посмотрим есть ли там отклонения (выбросы) от реальных значений

print(f'Age:{data.age.unique()}') #данные нормальные
print(f'Workclass:{data.workclass.unique()}') #проработать ?
print(f'Education:{data.education.unique()}') #данные нормальные
print('Marital-status: {}'.format(data['marital-status'].unique())) #данные нормальные
print('Occupation: {}'.format(data['occupation'].unique())) #проработать ?
print(f'Race:{data.race.unique()}') #данные нормальные
print(f'Gender:{data.gender.unique()}') #данные нормальные
print('Hours-per-week: {}'.format(data['hours-per-week'].unique())) #данные нормальные
print('Native-country: {}'.format(data['native-country'].unique())) #данные нормальные
print(f'Income:{data.income.unique()}') #данные нормальные

Age:[25 38 28 44 18 34 29 63 24 55 65 36 26 58 48 43 20 37 40 72 45 22 23 54
 32 46 56 17 39 52 21 42 33 30 47 41 19 69 50 31 59 49 51 27 57 61 64 79
 73 53 77 80 62 35 68 66 75 60 67 71 70 90 81 74 78 82 83 85 76 84 89 88
 87 86]
Workclass:['Private' 'Local-gov' '?' 'Self-emp-not-inc' 'Federal-gov' 'State-gov'
 'Self-emp-inc' 'Without-pay' 'Never-worked']
Education:['11th' 'HS-grad' 'Assoc-acdm' 'Some-college' '10th' 'Prof-school'
 '7th-8th' 'Bachelors' 'Masters' 'Doctorate' '5th-6th' 'Assoc-voc' '9th'
 '12th' '1st-4th' 'Preschool']
Marital-status: ['Never-married' 'Married-civ-spouse' 'Widowed' 'Divorced' 'Separated'
 'Married-spouse-absent' 'Married-AF-spouse']
Occupation: ['Machine-op-inspct' 'Farming-fishing' 'Protective-serv' '?'
 'Other-service' 'Prof-specialty' 'Craft-repair' 'Adm-clerical'
 'Exec-managerial' 'Tech-support' 'Sales' 'Priv-house-serv'
 'Transport-moving' 'Handlers-cleaners' 'Armed-Forces']
Race:['Black' 'White' 'Asian-Pac-Islander' 'Other' 'Amer-Indian-Eskimo']
Gender:['Male' 'Female']
Hours-per-week: [40 50 30 32 10 39 35 48 25 20 45 47  6 43 90 54 60 38 36 18 24 44 56 28
 16 41 22 55 14 33 37  8 12 70 15 75 52 84 42 80 68 99 65  5 17 72 53 29
 96 21 46  3  1 23 49 67 76  7  2 58 26 34  4 51 78 63 31 92 77 27 85 13
 19 98 62 66 57 11 86 59  9 64 73 61 88 79 89 74 69 87 97 94 82 91 81 95]
Native-country: ['United-States' '?' 'Peru' 'Guatemala' 'Mexico' 'Dominican-Republic'
 'Ireland' 'Germany' 'Philippines' 'Thailand' 'Haiti' 'El-Salvador'
 'Puerto-Rico' 'Vietnam' 'South' 'Columbia' 'Japan' 'India' 'Cambodia'
 'Poland' 'Laos' 'England' 'Cuba' 'Taiwan' 'Italy' 'Canada' 'Portugal'
 'China' 'Nicaragua' 'Honduras' 'Iran' 'Scotland' 'Jamaica' 'Ecuador'
 'Yugoslavia' 'Hungary' 'Hong' 'Greece' 'Trinadad&Tobago'
 'Outlying-US(Guam-USVI-etc)' 'France' 'Holand-Netherlands']
Income:['<=50K' '>50K']

In [5]:
# посмотрим кол-во значений,равных ? в датафрейме
print('Для Workclass ? значения {}'.format(len(data[data['workclass'] == '?'])))
print('Для Occupation ? значения {}'.format(len(data[data['occupation'] == '?'])))
print('Для Native-country ? значения {}'.format(len(data[data['native-country'] == '?'])))

Для Workclass ? значения 2799
Для Occupation ? значения 2809
Для Native-country ? значения 857

## 2.Создаем рабочий датафрейм и работаем с пропусками

In [6]:
#создаем рабочий датафрейм:
cleaned_data = data[['age','workclass','education','marital-status','occupation','race','gender','hours-per-week','native-country','income']]
cleaned_data.head()

,age,workclass,education,marital-status,occupation,race,gender,hours-per-week,native-country,income
0,25,Private,11th,Never-married,Machine-op-inspct,Black,Male,40,United-States,<=50K
1,38,Private,HS-grad,Married-civ-spouse,Farming-fishing,White,Male,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,Married-civ-spouse,Protective-serv,White,Male,40,United-States,>50K
3,44,Private,Some-college,Married-civ-spouse,Machine-op-inspct,Black,Male,40,United-States,>50K
4,18,?,Some-college,Never-married,?,White,Female,30,United-States,<=50K

In [7]:
#Заменим ? на Nan
# cleaned_data['workclass'] = cleaned_data['workclass'].replace('?', np.nan)
# cleaned_data['occupation'] = cleaned_data['occupation'].replace('?', np.nan)
cleaned_data = cleaned_data.applymap(lambda x: np.nan if x == '?' else x)

In [8]:
#заполним значения, равные ? на основании мод столбцов education и native-country
cleaned_data['workclass'] = cleaned_data.groupby(['education','native-country'])['workclass'].apply(lambda x: x.fillna(x.mode()[0] if len(x.mode()) else np.nan))

In [9]:
#заполним значения, равные ? на основании мод столбцов education и native-country
cleaned_data['occupation'] = cleaned_data.groupby(['education','native-country'])['occupation'].apply(lambda x: x.fillna(x.mode()[0] if len(x.mode()) else np.nan))

In [10]:
#оставшиеся пропуски workclass заменим модой столбца education и native-country для столбца occupation
cleaned_data['workclass'] = cleaned_data.groupby(['education'])['workclass'].apply(lambda x: x.fillna(x.mode()[0]))
cleaned_data['occupation'] = cleaned_data.groupby(['native-country'])['occupation'].apply(lambda x: x.fillna(x.mode()[0]))

In [11]:
#оставшиеся пропуски occupation заменим модой столбца race, education, gender
cleaned_data['occupation'] = cleaned_data.groupby(['race','education','gender'])['occupation'].apply(lambda x: x.fillna(x.mode()[0]))

In [12]:
#оставшиеся пропуски Native-country заменим модой столбца race, education, gender
cleaned_data['native-country'] = cleaned_data.groupby(['race','education','gender','occupation'])['native-country'].apply(lambda x: x.fillna(x.mode()[0]))

In [13]:
print('Для Occupation Nan значения {}'.format(len(cleaned_data[pd.isnull( cleaned_data['occupation'])])))
print('Для Workclass Nan значения {}'.format(len(cleaned_data[ pd.isnull( cleaned_data['workclass'])])))
print('Для Native-country Nan значения {}'.format(len(cleaned_data[ pd.isnull( cleaned_data['native-country'])])))

Для Occupation Nan значения 0
Для Workclass Nan значения 0
Для Native-country Nan значения 0

## 3.Категориальные величины переводим в числовые (One-Hot-Encoding)

In [14]:
#Для X
X = pd.get_dummies( cleaned_data, columns = [ 'workclass', 'education','marital-status','occupation','race','native-country','gender'] )

In [15]:
del X['income']

In [16]:
X.head()

,age,hours-per-week,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay,...,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia,gender_Female,gender_Male
0,25,40,0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
1,38,50,0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
2,28,40,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
3,44,40,0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
4,18,30,0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0

In [17]:
#Обозначим целевую переменную и переведем в бинарный вид 
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le.fit(cleaned_data['income'])
le.classes_

array(['<=50K', '>50K'], dtype=object)

In [19]:
# записываем в переменную y преобразованный столбец income
y = pd.Series(le.transform(cleaned_data['income'] ) )
y.head()

0    0
1    0
2    1
3    1
4    0
dtype: int32

## 4. Разделяем выборку на тестовую и обучающую

In [21]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

## 5. Строим логистическую регрессию

In [22]:
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler

In [26]:
#без стандартизации
model = LogisticRegression(max_iter = 10000)

model.fit( X_train, y_train )
predictions = model.predict_proba( X_test )
print(model.score(X_train, y_train))
print(model.score(X_test, y_test))

0.8318757495100764
0.8392820582815805

In [28]:
#со стандартизацией
from sklearn.pipeline import make_pipeline #задает последовательность выполнения
pipe_model = make_pipeline(StandardScaler(),LogisticRegression(max_iter=10000))

In [30]:
pipe_model.fit( X_train, y_train )
predictions = pipe_model.predict_proba( X_test )
print(pipe_model.score(X_train, y_train))
print(pipe_model.score(X_test, y_test))

0.8320219953786305
0.8392820582815805

## 6. Используем метод опорных векторов

In [31]:
from sklearn.svm import SVC

In [38]:
# Используем стандартизацию, так как она всегда улучшает прогноз для SVM
clf = make_pipeline(StandardScaler(), SVC(kernel='rbf'))
clf.fit(X_train, y_train)

Pipeline(steps=[('standardscaler', StandardScaler()), ('svc', SVC())])

In [39]:
print(clf.score(X_train, y_train))
print(clf.score(X_test, y_test))

0.8398900231068472
0.839964512386542

In [37]:
clf_poly = make_pipeline(StandardScaler(), SVC(kernel='poly', degree = 3)) #для ядра poly
clf_poly.fit(X_train, y_train)
print(clf_poly.score(X_train, y_train))
print(clf_poly.score(X_test, y_test))

0.841059990055281
0.8305466457380741

In [ ]:
#Самый высокий результат на тестовых данных показала SVM (rbf) - 0.839964512386542